.u-flexdirection {
  flex-direction: column;
}

.u-flexcontainer__feature-card {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(sp-ls) {
    flex-direction: column;
  }
}
