.c-top-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 74px;
  height: 74px;
  background-color: #229f5d;
  cursor: pointer;

  .c-top-btn-icon {
    padding: 31px 0 15px;
    margin: 0 auto;
  }
}

// ハンバーガーメニュー
.l-header__hamburger {
  width: 41px;
  display: none;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999 !important;
  padding: 10px 5px;
  position: fixed;
  z-index: 1 !important;
  top: 10px;
  right: 10px;
  @include mq(sp-tab) {
    display: block;
    z-index: 9999 !important;
  }

  .l-header__hamburger--border {
    width: 100%;
    height: 2px;
    background-color: $main-color;
    position: relative;
    transition: ease 0.4s;
    display: block;
    z-index: 9999 !important;
    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      margin: 7px 0;
    }

    &:nth-child(3) {
      top: 0;
    }
  }

  &.--active {
    z-index: 9999;
    .l-header__hamburger--border {
      &:nth-child(1) {
        top: 7px;
        transform: rotate(45deg);
        background-color: #fff;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: -13px;
        transform: rotate(-45deg);
        background-color: #fff;
      }
    }
  }
}

//CTAボタン
.c-ctabtn {
  width: 320px;
  height: 64px;
  display: block;
  border-radius: 32px;
  padding: 24px 64px;
  background-color: $sub-color;
  color: $white;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    content: "";
    background-image: url(../assets/images/arrow-ctabtn.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 46%;
    transform: translateX(-46%);
    right: 5%;
    width: 15px;
    height: 15px;
    transition: all 0.3s;
  }
  &:hover {
    @include hover-effect;
  }
  &:hover::after {
    right: 4%;
  }
  &.--sub {
    background-color: $white;
    color: $sub-color;
    border: 3px solid $sub-color;
    &::after {
      background-image: url(../assets/images/arrow-ctasub.svg);
    }
  }
  &.--white {
    background-color: $white;
    color: $sub-color;

    &::after {
      background-image: url(../assets/images/arrow-ctasub.svg);
    }
  }
  &.--excle {
    background-color: $main-color;
    color: $white;
    &::after {
      background-image: url(../assets/images/arrow-ctabtn.svg);
    }
    @include mq(sp) {
      width: 287px;
    }
  }
  &.--lg {
    width: 356px;
    @include mq(sp) {
      width: 300px;
    }
  }
}

.c-confirm-btn-area {
  padding-top: 32px;
  gap: 24px;
  .c-confirm-btn {
    border: none;
    background-color: #70b63a;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 18px 64px;
    border-radius: 80px;
    margin-right: 12px;
    &:hover {
      @include hover-effect;
    }
    @include mq(sp-ls) {
      font-size: 14px;
      padding: 12px 64px;
    }
    @include mq(sp) {
      font-size: 12px;
      padding: 12px 56px;
    }
  }

  .c-back-btn {
    border: none;
    background-color: #ddd;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 18px 64px;
    border-radius: 80px;
    &:hover {
      @include hover-effect;
    }
    @include mq(sp-ls) {
      font-size: 14px;
      padding: 12px 64px;
    }
    @include mq(sp) {
      font-size: 12px;
      padding: 12px 56px;
    }
  }
}
