.c-contact {
  position: fixed;
  bottom: 5%;
  right: 0;
  background-color: $sub-color;
  width: 36px;
  padding: 16px 8px;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px 0 0 4px;
  display: none;
  @include mq(sp-tab) {
    display: block;
  }

  .c-contact__img {
    margin: 0 auto;
  }

  .c-contact__text {
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    line-height: 1.5;
    font-size: 12px;
    padding-top: 6px;
    color: $white;
    font-weight: bold;
  }
}
