.c-phone-btn {
  position: fixed;
  z-index: 2;
  top: 120px;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #18ab5d;
  cursor: pointer;
  display: none;
  &:hover {
    @include hover-effect;
  }

  @include mq(sp-tab) {
    display: block;
    &::after {
      content: "TEL";
      position: absolute;
      width: 24px;
      height: 20px;
      bottom: -5px;
      left: 54%;
      transform: translateX(-50%);
      font-size: 9px;
      font-weight: bold;
      letter-spacing: 2px;
      color: $white;
    }
  }

  .c-phone-link {
    display: block;
    .c-phone-icon {
      margin: 13px auto 20px;
      width: 24px;
    }
  }
}
