.main {
  .l-sub-mv {
    padding-top: 105px;

    .l-sub-mv__area {
      width: 100%;
      height: 260px;
      background-image: url(../assets/images/subvisual.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 260px;
        background-color: rgba(0, 131, 62, 0.3);
      }

      .l-sub-mv__hero {
        font-size: 36px;
        letter-spacing: 1.5px;
        font-weight: bold;
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @include mq(sp-ls) {
          font-size: 32px;
          letter-spacing: 1.3px;
        }
        @include mq(sp) {
          font-size: 24px;
          letter-spacing: 1.3px;
        }
        &::after {
          content: "COMPANY";
          color: $white;
          font-size: 20px;
          font-weight: bold;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          @include mq(sp-ls) {
            font-size: 16px;
          }
          @include mq(sp) {
            font-size: 12px;
          }
        }
      }
    }

    .l-sub-mv__label-area {
      background-color: $bg-color;
      margin: 0 calc(50% - 50vw);
      padding: 0 calc(50vw - 50%);

      .l-sub-mv__label {
        padding: 30px 0 30px 64px;
        display: flex;
        align-items: center;
        justify-content: start;
        @include mq(sp-ls) {
          padding: 28px 0 28px 8px;
        }
        @include mq(sp) {
          padding: 8px 0 8px 4px;
        }

        .l-sub-mv__label--top {
          display: block;
          font-size: 14px;
          padding: 0 8px;
          text-align: center;
          &:hover {
            @include hover-effect;
          }
          @include mq(sp) {
            font-size: 11px;
          }
        }

        .l-sub-mv__label--arrow {
          width: 7px;
          height: 10px;
          line-height: 10;
          background-image: url(../assets/images/arrow-label.svg);
          background-repeat: no-repeat;
          background-size: cover;
          margin-left: 3px;
          @include mq(sp) {
            width: 5px;
            height: 7px;
          }
        }

        .l-sub-mv__label--current {
          display: block;
          font-size: 14px;
          padding: 0 8px;
          text-align: center;
          &:hover {
            @include hover-effect;
          }
          @include mq(sp) {
            font-size: 11px;
          }
        }
      }
    }
  }

  .l-greeting {
    padding: 120px 0 0;
    @include mq(sp-ls) {
      padding: 60px 0;
    }

    .l-greeting__description {
      line-height: 200%;
      padding-bottom: 40px;
      text-align: left;
      @include mq(sp) {
        padding: 18px 0 40px;
      }
    }

    .l-table-area {
      max-width: 960px;
      margin: 0 auto;

      .l-table {
        display: flex;
        border-top: 1px solid #c2cfc9;

        &:last-child {
          border-bottom: 1px solid #c2cfc9;
        }

        .l-table-ttl__box {
          width: 260px;
          background-color: #f4f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mq(sp-ls) {
            width: 150px;
          }
          @include mq(sp) {
            width: 100px;
          }
          .l-table-ttl {
            padding: 24px 0;
            font-weight: bold;
            text-align: center;
            width: 260px;
            @include mq(sp-ls) {
              width: 200px;
              padding: 16px 0;
              font-size: 14px;
            }
            @include mq(sp) {
              font-size: 12px;
              padding: 16px 0;
            }
          }
        }

        .l-table-data__box {
          width: 100%;

          .l-table-data {
            padding: 24px 24px 24px 40px;
            @include mq(sp-ls) {
              padding: 16px 16px 16px 16px;
              font-size: 14px;
              @include mq(sp) {
                padding: 16px 16px 16px 16px;
                font-size: 12px;
              }
            }
          }
          .l-table-data--list {
            padding: 0;
            .l-table-data--item {
              text-indent: -1em;
              padding-left: 1em;
              &::before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #262626;
                display: inline-block;
                line-height: 5;
                position: relative;
                top: -9px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }

  .l-adress-area {
    padding: 120px 0;
    @include mq(sp-ls) {
      padding: 0 0 60px;
    }

    .l-adress__ttl-area {
      padding-bottom: 80px;
      @include mq(sp-ls) {
        padding-bottom: 48px;
      }
      @include mq(sp) {
        padding-bottom: 32px;
      }

      .l-adress__ttl {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px 32px;
        position: relative;
        margin-bottom: 1em;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 80px;
          height: 4px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: $main-color;
        }
        @include mq(sp-ls) {
          font-size: 28px;
          padding: 0 8px 26px;
        }
        @include mq(sp) {
          font-size: 20px;
          padding: 0 8px 24px;
        }
      }
    }

    .l-adress {
      display: flex;
      justify-content: space-between;
      padding-bottom: 64px;
      @include mq(sp-ls) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
      }
      @include mq(sp-ls) {
        padding-bottom: 22px;
      }

      .l-adress-img {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 40%;
        max-width: 470px;
        // @include mq(sp-ls) {
        //   max-width: 100%;
        //   padding-top: 100%;
        // }
        @include mq(sp-ls) {
          padding-top: 75%;
        }
        .l-adress-iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .l-adress-info {
        margin: 0 auto;
        padding: 0 0 0 16px;
        max-width: 460px;
        @include mq(sp-ls) {
          padding: 16px 0 0;
        }

        .l-adress-text {
          padding: 30px 0 0;
          width: 100%;
          line-height: 200%;
          @include mq(sp-ls) {
            padding: 12px 0 0;
          }
          @include mq(sp) {
            font-size: 14px;
            padding: 10px 0 0;
          }
        }

        .l-adress-text--under {
          padding: 0 0 32px;
          width: 100%;
          line-height: 200%;
          @include mq(sp) {
            font-size: 14px;
            padding-bottom: 14px;
          }
        }

        .l-adress-list {
          margin-top: -18px;
          padding-bottom: 40px;
          line-height: 200%;
          @include mq(sp) {
            padding-bottom: 24px;
          }
          .l-adress-item {
            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #262626;
              display: inline-block;
              line-height: 5;
              position: relative;
              top: -9px;
              margin-right: 8px;
            }
          }
        }

        .l-adress-text__accent-area {
          width: 100%;
          border-radius: 10px;
          border: 2px solid $main-color;
          display: flex;
          justify-content: center;
          align-items: center;

          .l-adress-text__accent {
            text-align: left;
            color: $main-color;
            line-height: 200%;
            font-size: 14px;
            font-weight: bold;
            padding: 8px 16px;
          }
        }
      }
    }

    .l-adress-second {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 80px 0 140px;
      @include mq(sp-ls) {
        flex-direction: column;
        justify-content: center;
        padding: 40px 0;
      }

      .l-adress-second__imgarea {
        width: 100%;
        height: auto;
        max-width: 500px;
        position: relative;
        @include mq(sp-ls) {
          max-width: 100%;
          margin: 0 auto;
        }
        @include mq(sp) {
          padding: 0;
        }

        .l-adress__img-area {
          max-width: 415px;
          // display: flex;
          // justify-content: center;
          margin: 0 auto;

          .l-adress-second__img {
            max-width: 415px;
            height: auto;
            margin: 0 auto;
            @include mq(sp) {
              max-width: 100%;
            }
          }
        }

        // .l-adress-second__img2 {
        //   max-width: 190px;
        //   min-height: 190px;
        //   border-radius: 50%;
        //   position: absolute;
        //   bottom: -77px;
        //   right: -12px;
        //   border: 5px solid #fff;
        //   @include mq(sp-ls) {
        //     max-width: 170px;
        //     min-height: 170px;
        //     bottom: -70px;
        //     right: 40px;
        //   }
        //   @include mq(sp) {
        //     max-width: 160px;
        //     min-height: 160px;
        //     right: -20px;
        //   }
        // }

        // .l-adress-second__img-info {
        //   position: absolute;
        //   bottom: -100px;
        //   right: -12px;
        //   font-size: 12px;
        //   color: $main-color;
        //   font-weight: bold;
        //   @include mq(sp-ls) {
        //     right: 0;
        //     bottom: -90px;
        //   }
        // }
      }

      .l-adress-second__info {
        margin: 0 auto;
        width: 100%;
        @include mq(sp-ls) {
          padding: 16px 0 0;
          max-width: 460px;
        }
        @include mq(sp) {
          max-width: 350px;
        }

        .l-adress-second__text {
          padding: 24px 0 0;
          width: 100%;
          line-height: 200%;
          @include mq(sp-ls) {
            padding: 12px 0 0;
          }
          @include mq(sp) {
            font-size: 14px;
            padding: 10px 0 0;
          }
        }

        .l-adress-second__text--under {
          padding: 0 0 32px;
          width: 100%;
          line-height: 200%;
          @include mq(sp) {
            font-size: 14px;
            padding-bottom: 14px;
          }
        }

        .l-adress-second__list {
          margin-top: -18px;
          padding-bottom: 40px;
          line-height: 200%;
          @include mq(sp) {
            padding-bottom: 24px;
          }
          .l-adress-second__item {
            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #262626;
              display: inline-block;
              line-height: 5;
              position: relative;
              top: -9px;
              margin-right: 8px;
            }
          }
        }

        .l-adress-second-text__accent-area {
          width: 100%;
          border-radius: 10px;
          border: 2px solid $main-color;
          display: flex;
          justify-content: center;
          align-items: center;
          .l-adress-second-text__accent {
            text-align: left;
            color: $main-color;
            line-height: 200%;
            font-size: 14px;
            font-weight: bold;
            padding: 8px 16px;
            position: relative;
            top: -1;
            margin-right: 5px;
          }
        }
      }
    }

    .l-adress-second__map {
      position: relative;
      width: 100%;
      // height: 0;

      // padding-top: 30%;
      // @include mq(sp) {
      //   padding-top: 100%;
      // }
      .l-adress-second__iframe {
        width: 100%;
        min-height: 250px;
      }
    }
  }
}
