.main {
  .l-sub-mv {
    .l-sub-mv__area {
      .l-sub-mv__hero {
        &.--flow::after {
          content: "FLOW";
        }
      }
    }
  }

  .l-step1 {
    max-width: 840px;
    padding: 120px 20px 0;
    margin: 0 auto;
    @include mq(sp) {
      padding: 80px 16px 0;
    }

    .l-step1__headline-area {
      padding-bottom: 24px;
      @include mq(sp-ls) {
        padding-bottom: 16px;
      }
      @include mq(sp) {
        padding-bottom: 12px;
      }

      .l-step1__headline-prefix {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: $main-color;
        @include mq(sp-ls) {
          font-size: 28px;
        }
        @include mq(sp) {
          font-size: 20px;
        }
      }

      .l-step1__headline {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px 32px;
        position: relative;
        margin-bottom: 1em;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 20%;
          height: 4px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: $main-color;
          @include mq(sp-ls) {
            width: 18%;
          }
          @include mq(sp) {
            width: 24%;
            bottom: 6px;
          }
        }
        @include mq(sp-ls) {
          font-size: 28px;
          padding: 0 8px 26px;
        }
        @include mq(sp) {
          font-size: 20px;
          padding: 0 8px 24px;
        }
      }
    }

    .l-step1__text-area {
      text-align: justify;
      padding-bottom: 40px;
      .l-step1__text {
        line-height: 180%;
      }
    }

    .l-step1__excel {
      padding: 24px;
      border-radius: 12px;
      margin-top: 40px;
      border: 3px solid $main-color;
      @include mq(sp) {
        padding: 0 8px;
        border: 2px solid $main-color;
      }

      .l-step1__excel-ttl {
        text-align: center;
        color: $main-color;
        padding-bottom: 24px;
        font-size: 20px;
        font-weight: bold;
        @include mq(sp) {
          padding: 16px 0;
          font-size: 18px;
        }
      }

      .l-step1__info-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mq(sp-ls) {
          flex-direction: column-reverse;
        }
        .l-step1__info {
          flex: 5;
          padding: 0 64px;
          @include mq(sp-ls) {
            padding: 0;
          }

          .l-step1__text {
            line-height: 180%;
            padding-bottom: 24px;
          }
          .l-step1__btn-area {
            display: flex;
            justify-content: center;
          }
        }
        .l-step1__excel-area {
          flex: 5;
          max-width: 278px;
          margin-top: 40px;
          @include mq(sp-ls) {
            padding-bottom: 24px;
          }
          @include mq(sp-ls) {
            padding-bottom: 16px;
          }
          .l-step1__img {
            max-width: 278px;
            width: 100%;
          }
          .l-step1__dl-area {
            text-align: center;
            padding: 2px;
            .l-step1__example {
              color: $main-color;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .l-step2 {
    max-width: 840px;
    padding: 120px 20px 0;
    margin: 0 auto;
    @include mq(sp) {
      padding: 80px 16px 0;
    }

    .l-step2__headline-area {
      padding-bottom: 24px;
      @include mq(sp-ls) {
        padding-bottom: 16px;
      }
      @include mq(sp) {
        padding-bottom: 12px;
      }

      .l-step2__headline-prefix {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: $main-color;
        @include mq(sp-ls) {
          font-size: 28px;
        }
        @include mq(sp) {
          font-size: 20px;
        }
      }

      .l-step2__headline {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px 32px;
        position: relative;
        margin-bottom: 1em;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 14%;
          height: 4px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: $main-color;
          @include mq(sp-ls) {
            width: 18%;
          }
          @include mq(sp) {
            width: 22%;
            bottom: 6px;
          }
        }
        @include mq(sp-ls) {
          font-size: 28px;
          padding: 0 8px 26px;
        }
        @include mq(sp) {
          font-size: 20px;
          padding: 0 8px 24px;
        }
      }
    }

    .l-step2__text-area {
      text-align: justify;

      .l-step2__text {
        line-height: 180%;

        &.--min {
          font-size: 12px;
        }
        &.--bold {
          font-weight: bold;
          text-align: center;
          padding: 24px 0;
        }
      }
    }

    .l-step2__caution {
      padding: 24px;
      border-radius: 12px;
      border: 3px solid $main-color;
      @include mq(sp) {
        padding: 0;
        border: 2px solid $main-color;
      }

      .l-step2__caution-ttl {
        text-align: center;
        color: $main-color;
        padding-bottom: 24px;
        font-size: 20px;
        font-weight: bold;
        @include mq(sp) {
          padding: 16px 0;
          font-size: 18px;
        }
      }

      .l-step2__text {
        padding: 16px 0;
        @include mq(sp) {
          padding: 16px 8px;
        }
      }

      .l-step2__caution-top {
        display: flex;
        justify-content: space-between;
        @include mq(sp-ls) {
          flex-direction: column;
          justify-content: center;
        }

        .l-step2__sample-topleft {
          display: inline-block;
          @include mq(sp-ls) {
            padding: 24px 0;
          }

          .l-step2__img-left {
            display: flex;
            gap: 64px;
            @include mq(sp-ls) {
              justify-content: center;
              gap: 32px;
            }
            @include mq(sp-ls) {
              justify-content: center;
              gap: 8px;
            }
            .l-step2__img-area {
              max-width: 196px;
              @include mq(sp-ls) {
                max-width: 160px;
              }
              @include mq(sp-ls) {
                max-width: 162px;
              }

              .l-step2__img {
                min-height: 148px;
                width: 100%;
                margin-right: 16px;
                @include mq(sp-ls) {
                  min-height: 140px;
                }
              }
            }
          }

          .l-step2__caution-text {
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            padding: 8px 0;
          }
        }
        .l-step2__img-topright {
          display: inline-block;
          .l-step2__img-area {
            max-width: 196px;
            @include mq(sp-ls) {
              margin: 0 auto;
            }

            .l-step2__img {
              min-height: 148px;
              width: 100%;
            }
          }

          .l-step2__caution-text {
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            padding: 8px 0;
          }
        }
      }

      .l-step2__caution-center {
        .l-step2__caution-text {
          font-weight: bold;
          padding: 56px 8px;
          font-size: 14px;
          @include mq(sp) {
            padding: 32px 8px;
          }
        }

        .l-step2__center-img {
          max-width: 100%;
          @include mq(sp) {
            padding: 0 8px;
          }
        }

        .l-step2__center-text {
          font-size: 12px;
          text-align: center;
          padding: 8px 0;
          @include mq(sp) {
            padding: 0 8px;
          }
        }
      }

      .l-step2__caution-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 56px 8px;
        @include mq(sp-ls) {
          flex-direction: column-reverse;
          justify-content: center;
        }
        @include mq(sp) {
          padding: 32px 8px;
        }

        .l-step2__bottom-left {
          max-width: 387px;
          .l-step2__text {
            line-height: 180%;
            @include mq(sp-ls) {
              padding: 32px 0;
            }
            @include mq(sp) {
              padding: 16px 0;
            }

            &.--min {
              font-size: 12px;
            }
          }
        }
        .l-step2__bottom-right {
          max-width: 306px;
          width: 100%;
          height: auto;
          @include mq(sp-ls) {
            padding: 32px 0;
            max-width: 100%;
          }
          @include mq(sp) {
            padding: 16px 0;
          }
        }
      }

      // .l-step2__info-area {
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: center;
      //   @include mq(sp-ls) {
      //     flex-direction: column-reverse;
      //   }
      //   .l-step2__info {
      //     flex: 5;
      //     padding: 0 64px;
      //     @include mq(sp-ls) {
      //       padding: 0;
      //     }

      //     .l-step2__text {
      //       line-height: 180%;
      //       padding-bottom: 24px;
      //     }
      //     .l-step2__btn-area {
      //       display: flex;
      //       justify-content: center;
      //     }
      //   }
      //   .l-step2__excel-area {
      //     flex: 5;
      //     max-width: 278px;
      //     @include mq(sp-ls) {
      //       padding-bottom: 24px;
      //     }
      //     @include mq(sp-ls) {
      //       padding-bottom: 16px;
      //     }
      //     .l-step2__img {
      //       max-width: 278px;
      //       width: 100%;
      //     }
      //     .l-step2__dl-area {
      //       text-align: center;
      //       padding: 2px;
      //       .l-step2__example {
      //         color: $main-color;
      //         font-size: 14px;
      //       }
      //     }
      //   }
      // }
    }
  }

  .l-step3 {
    max-width: 840px;
    padding: 120px 20px 0;
    margin: 0 auto;
    @include mq(sp) {
      padding: 80px 16px 0;
    }

    .l-step3__headline-area {
      padding-bottom: 24px;
      @include mq(sp-ls) {
        padding-bottom: 16px;
      }
      @include mq(sp) {
        padding-bottom: 12px;
      }

      .l-step3__headline-prefix {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: $main-color;
        @include mq(sp-ls) {
          font-size: 28px;
        }
        @include mq(sp) {
          font-size: 20px;
        }
      }

      .l-step3__headline {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px 32px;
        position: relative;
        margin-bottom: 1em;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 20%;
          height: 4px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: $main-color;
          @include mq(sp-ls) {
            width: 18%;
          }
          @include mq(sp) {
            width: 24%;
            bottom: 6px;
          }
        }
        @include mq(sp-ls) {
          font-size: 28px;
          padding: 0 8px 26px;
        }
        @include mq(sp) {
          font-size: 20px;
          padding: 0 8px 24px;
        }
      }
    }

    .l-step3__text {
      line-height: 180%;
      padding: 0 0 32px;
    }
    .l-step3__step3-img-area {
      display: flex;
      justify-content: center;
      overflow: hidden;
      max-width: 352px;
      margin: 0 auto;
      .l-step3__step3-img {
        max-width: 352px;
      }
    }
  }

  .l-step4 {
    max-width: 840px;
    padding: 120px 20px 120px;
    margin: 0 auto;
    @include mq(sp) {
      padding: 80px 16px 80px;
    }

    .l-step4__headline-area {
      padding-bottom: 24px;
      @include mq(sp-ls) {
        padding-bottom: 16px;
      }
      @include mq(sp) {
        padding-bottom: 12px;
      }

      .l-step4__headline-prefix {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: $main-color;
        @include mq(sp-ls) {
          font-size: 28px;
        }
        @include mq(sp) {
          font-size: 20px;
        }
      }

      .l-step4__headline {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px 32px;
        position: relative;
        margin-bottom: 1em;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 14%;
          height: 4px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          background-color: $main-color;
          @include mq(sp-ls) {
            width: 15%;
          }
          @include mq(sp) {
            width: 22%;
            bottom: 6px;
          }
        }
        @include mq(sp-ls) {
          font-size: 28px;
          padding: 0 8px 26px;
        }
        @include mq(sp) {
          font-size: 20px;
          padding: 0 8px 24px;
        }
      }
    }

    .l-step4__text {
      line-height: 180%;
      padding: 0 0 32px;
    }
    .l-step4__step3-img-area {
      display: flex;
      justify-content: center;
      overflow: hidden;
      max-width: 352px;
      margin: 0 auto;
      .l-step4__step4-img {
        max-width: 352px;
      }
    }
  }
}
