.l-footer {
  background-color: $main-color;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  position: relative;

  .l-footer__top {
    display: flex;
    justify-content: space-between;
    color: $white;
    padding: 56px 80px 0;
    @include mq(sp-ls) {
      padding: 8px 0 0px 16px;
    }
    @include mq(sp) {
      padding: 4px 0 0px 8px;
    }

    .l-footer__logo {
      .l-footer__logoarea {
        display: flex;
        align-items: center;

        .l-footer__logo-right {
          .l-footer__logo-name {
            font-size: 32px;
            font-weight: bold;
            line-height: 1;
            @include mq(sp) {
              font-size: 23px;
            }
          }

          .l-footer__logo-description {
            font-size: 12px;
            font-weight: bold;
            @include mq(sp) {
              font-size: 10px;
            }
          }
        }
      }
      .l-footer__logo-company {
        padding-top: 24px;
        font-size: 13px;
        @include mq(sp) {
          padding-top: 16px;
          font-size: 10px;
        }
      }
      .l-footer__logo-address {
        font-size: 13px;
        padding-bottom: 32px;
        min-width: 400px;
        @include mq(sp) {
          font-size: 10px;
          padding-bottom: 16px;
        }
      }
    }
    .l-footer__nav-list {
      columns: 3;
      column-gap: 0;
      @include mq(sp-tab) {
        display: none;
      }

      .l-footer__nav-item {
        text-align: center;
        min-width: 200px;
        border-right: 1px solid #229f5d;

        .l-footer__nav-link {
          display: block;
          font-size: 13px;
          color: $white;
          text-align: center;
          padding-top: 8px;

          &:hover {
            @include hover-effect;
          }
        }
      }
      .--noborder {
        border: none;
      }
    }
  }
  .l-footer__bottom {
    margin: 0 80px;
    padding: 24px 0;
    text-align: center;
    align-items: center;
    border-top: 1px solid #229f5d;
    @include mq(sp-ls) {
      margin: 0 16px;
      padding: 16px 0;
    }
    @include mq(sp) {
      margin: 0 8px;
      padding: 10px 0;
    }

    .l-footer__copyright {
      color: $white;
      font-weight: bold;
      font-size: 10px;
    }
  }
}
