.l-header {
  width: 100%;
  height: 110px;
  padding: 24px 0px 24px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @include mq(sp) {
    padding: 24px 8px;
  }

  .l-header__logo {
    min-width: 136px;
    color: $main-color;
    text-align-last: left;

    .l-header__logo-name {
      font-size: 32px;
      @include mq(sp) {
        font-size: 23px;
      }
    }

    .l-header__logo-description {
      font-size: 12px;
      @include mq(sp) {
        font-size: 10px;
      }
    }
  }

  .l-header__navarea {
    display: flex;
    align-items: center;
    @include mq(sp-tab) {
    }

    .l-header__phone {
      text-align: right;
      font-size: 11px;
      color: $main-color;
      padding-bottom: 4px;
      @include mq(sp-tab) {
        display: none;
      }
    }

    .l-header__nav {
      font-size: 14px;
      font-weight: bold;
      @include mq(sp-tab) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100%);
      }

      .l-header__nav-list {
        display: flex;
        @include mq(sp-tab) {
          flex-direction: column;
          text-align: center;
          align-items: center;
        }

        .l-header__nav-item {
          margin-left: 32px;
          @include mq(sp-tab) {
            margin: 0;
            padding: 40px;
          }

          .l-header__nav-link {
            display: block;
            &:hover {
              @include hover-effect;
            }
          }
        }
      }
    }
  }

  .l-header__nav-contact {
    background-color: $main-color;
    padding: 24px 8px;
    margin-left: 8px;
    &:hover {
      @include hover-effect;
    }

    .l-header__btn {
      display: block;
      color: $white;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

// ハンバーガーメニュー
.header__hamburger {
  width: 48px;
  height: 100%;
  display: none;
  @include mq(sp-tab) {
    display: block;
  }
}

.hamburger {
  background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  z-index: 9999;
}

//ハンバーガーメニューの線
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

//ハンバーガーメニュークリック後のスタイル
.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
