.l-header {
  width: 100%;
  max-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: max-height 0.3s ease;
  &.header-animation {
    max-height: 80px;
    // box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    // background-color: rgba(255, 255, 255, 0.8);
  }
  @include mq(sp-tab) {
    padding: 4px 0;
    // background-color: rgba(255, 255, 255, 0.8);
    max-height: 49px;
    &.header-animation {
      max-height: 49px;
      // box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    }
  }
  @include mq(sp) {
    // background-color: rgba(255, 255, 255, 0.8);
    height: 49px;
    &.header-animation {
      height: 49px;
      // box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    }
  }

  .l-header__logo-area {
    width: 176px;
    margin-left: 80px;
    @include mq(sp-tab) {
      margin-left: 24px;
    }
    @include mq(sp) {
      margin-left: 16px;
      &.header-animation {
        opacity: 0;
      }
    }

    .l-header__link {
      display: block;

      .l-header-logo {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .l-header__navarea {
    display: flex;
    align-items: center;

    .l-header__phone {
      position: fixed;
      top: 0;
      right: 170px;
      background-color: #18ab5d;
      padding: 5px 9px;
      border-radius: 0 0 8px 8px;
      color: #fff;
      font-size: 11px;
      &.header-animation {
        display: none;
      }
      @include mq(sp-tab) {
        display: none;
      }
    }

    .l-header__nav {
      font-size: 14px;
      font-weight: bold;
      position: relative;

      @include mq(sp-tab) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: rgba(0, 131, 62, 0.9);
        transition: all 0.9s;
        display: none;
      }

      &.--open {
        display: block;
      }

      .l-header__nav-list {
        display: flex;
        padding-top: 18px;
        &.header-animation {
          padding: 0;
        }
        @include mq(sp-tab) {
          flex-direction: column;
          text-align: center;
          align-items: center;
          height: 100vh;
          justify-content: center;
        }

        .l-header__nav-item {
          margin-left: 32px;
          @include mq(sp-tab) {
            margin: 0;
            padding: 40px;
          }

          .l-header__nav-link {
            display: block;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              margin: -5px 0;
              background-color: $main-color;
              visibility: hidden;
              transform: scaleX(0);
              transition: all 0.4s ease-in-out 0s;
            }
            &:hover::before {
              @include hover-effect;
              visibility: visible;
              transform: scaleX(1);
            }
            &.current {
              &::before {
                visibility: visible;
                transform: scaleX(1);
              }
            }
            @include mq(sp-tab) {
              min-width: 300px;
              color: $white;
            }
          }
        }
      }
    }
  }

  .l-header__nav-contact {
    background-color: $main-color;
    padding: 27px 28px;
    margin-left: 24px;
    transition: padding 0.3s ease;
    &.header-animation {
      padding: 12px 16px;
    }

    &:hover {
      @include hover-effect;
    }
    @include mq(sp-tab) {
      display: none;
    }
    .l-header__navicon {
      margin: 0 auto;
      padding-bottom: 8px;
    }

    .l-header__btn {
      display: block;
      color: $white;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
