main {
  .l-mv {
    background-image: url(../assets/images/mainvisual.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);

    .l-mv__hero-text {
      margin-top: 411px;
      padding-bottom: 64px;
      color: $main-color;
      font-size: 46px;
      font-weight: bold;
      line-height: 160%;
      @include mq(sp-ls) {
        font-size: 22px;
        color: $white;
        text-align: center;
      }
    }
    .l-mv__flex-container {
      display: flex;
      @include mq(sp-ls) {
        justify-content: center;
      }

      .l-mv__flex-img-bg {
        width: 180px;
        height: 180px;
        background-image: url(../assets/images/mv-textbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        text-align: center;
        margin: 0 8px;
        @include mq(sp-ls) {
          width: 110px;
          height: 110px;
        }

        .l-mv__hero-descroption {
          min-width: 164px;
          color: $main-color;
          font-size: 15px;
          line-height: 155%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include mq(sp-ls) {
            font-size: 10px;
          }

          .l-mv__hero-hero-descroption--bold {
            font-size: 20px;
            @include mq(sp-ls) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  // .l-feature {
  // }
}
