main {
  .l-mv {
    background-image: url(../assets/images/mainvisual.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);

    .l-mv__hero-text {
      padding: 340px 0 64px 146px;
      color: $main-color;
      font-size: 46px;
      font-weight: bold;
      line-height: 160%;
      @include mq(sp-ls) {
        font-size: 22px;
        color: $white;
        text-align: center;
        padding: 340px 0 64px;
      }
    }
    .l-mv__flex-container {
      display: flex;
      padding-left: 146px;
      @include mq(sp-ls) {
        justify-content: center;
        padding-left: 0;
      }

      .l-mv__flex-img-bg {
        width: 180px;
        height: 180px;
        background-image: url(../assets/images/mv-textbg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        text-align: center;
        margin: 0 8px;
        @include mq(sp-ls) {
          width: 110px;
          height: 110px;
        }

        .l-mv__hero-descroption {
          min-width: 164px;
          color: $main-color;
          font-size: 15px;
          line-height: 155%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include mq(sp-ls) {
            font-size: 10px;
          }

          .l-mv__hero-hero-descroption--bold {
            font-size: 20px;
            @include mq(sp-ls) {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .l-feature {
    background-color: $bg-color;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    padding: 64px 0;
    @include mq(sp-ls) {
      padding-top: 64px;
    }
    @include mq(sp) {
      padding-top: 32px;
    }

    .l-feature__text-top {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      line-height: 200%;
      padding-bottom: 48px;
      @include mq(sp-ls) {
        font-size: 12px;
      }
    }
    .l-feature__card {
      max-width: 425px;
      text-align: center;
      margin: 0 40px;
      padding-bottom: 24px;
      @include mq(sp-ls) {
        margin: 0 auto;
      }

      .l-feature__card-top {
        background-color: $main-color;
        padding: 4px 24px;
        border-radius: 7px 7px 0 0;

        .l-feature__card-top--text {
          color: $white;
          font-size: 20px;
          font-weight: bold;
          position: relative;
          display: inline-block;
          @include mq(sp-ls) {
            font-size: 14px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            left: -25px;
            width: 20px;
            height: 20px;
            background-image: url("../assets/images/check-icon.svg");
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
      .l-feature__card-bottom {
        border: 1px solid $main-color;
        border-top: none;
        border-radius: 0 0 7px 7px;
        padding: 32px;
        background-color: $white;
        @include mq(sp-ls) {
          padding: 24px;
        }
        .l-feature__card-bottom--day {
          font-size: 40px;
          font-weight: bold;
          @include mq(sp-ls) {
            font-size: 26px;
          }
        }
      }
    }
    .l-feature__text-bottom {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      line-height: 180%;
      padding-bottom: 64px;
      @include mq(sp-ls) {
        font-size: 12px;
        padding-bottom: 24px;
      }
      .l-feature__text {
        font-size: 10px;
      }
    }
    .l-feature__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 64px;
      @include mq(sp) {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 32px;
      }

      .l-feature__info-area {
        max-width: 270px;
        height: auto;
        @include mq(sp-ls) {
          margin: 0 4px;
        }
        @include mq(sp) {
          margin: 0;
          padding-bottom: 32px;
        }

        .l-feature__info-img {
          padding-bottom: 16px;
        }

        .l-feature__info-text {
          font-weight: bold;
          @include mq(sp-ls) {
            font-size: 12px;
          }
          @include mq(sp) {
            font-size: 16px;
          }
        }
      }
    }

    .l-feature__ctabtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 64px;
    }
  }

  .l-survey {
    background-color: $white;

    .l-surbey__ttl {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 64px;

      .l-surbey__ttl-text {
        font-size: 32px;
        font-weight: bold;
        @include mq(sp-ls) {
          font-size: 26px;
        }
        @include mq(sp) {
          font-size: 16px;
        }

        &.--font {
          font-size: 40px;
          color: $main-color;
          position: relative;
          @include mq(sp-ls) {
            font-size: 32px;
          }
          @include mq(sp) {
            font-size: 20px;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 2px dashed $main-color;
          }
        }
      }
    }
    .l-surbey__flex-container {
      display: flex;
      padding: 40px 0 80px;
      @include mq(sp-ls) {
        flex-direction: column;
        justify-content: center;
      }
      .l-surbey__imgarea {
        flex: 5;
        position: relative;
        @include mq(sp-ls) {
          display: flex;
          justify-content: center;
        }
        .l-surbey__img1 {
          max-width: 245px;
          @include mq(sp) {
            max-width: 170px;
          }
        }
        .l-surbey__img2 {
          max-width: 245px;
          position: absolute;
          top: 5%;
          left: 40%;
          @include mq(sp-ls) {
            position: static;
          }
          @include mq(sp) {
            max-width: 170px;
          }
        }
      }
      .l-surbey__info {
        flex: 5;
        max-width: 428px;
        @include mq(sp-ls) {
          margin: 0 auto;
        }
        @include mq(sp) {
          padding: 8px;
        }

        .l-surbey__description {
          text-align: justify;
          padding: 40px 0 84px;
          line-height: 200%;
        }
        .l-surbey__ctabtn {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .l-flow {
    background-color: $bg-color;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    padding: 64px 0;

    .l-flow__card-container {
      display: flex;
      justify-content: space-between;
      @include mq(sp-ls) {
        flex-direction: column;
        justify-content: center;
      }

      .l-flow__card {
        max-width: 200px;
        text-align: center;
        @include mq(sp-ls) {
          margin: 0 auto;
          padding-bottom: 24px;
          max-width: 400px;
        }

        .l-flow__card-border {
          max-width: 200px;
          position: relative;
          z-index: 1;
          @include mq(sp-ls) {
            max-width: 400px;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -100px;
            width: 100%;
            height: 2px;
            border-top: 2px dashed $main-color;
            z-index: -1;
            @include mq(sp-ls) {
              content: none;
            }
          }

          .l-flow__card-img {
            padding-bottom: 16px;
            width: 100%;
          }
        }
        &:last-child {
          .l-flow__card-border {
            &::after {
              border: none;
            }
          }
        }
      }

      .l-flow__card-ttl {
        font-size: 20px;
        font-weight: bold;
        color: $main-color;
        padding-bottom: 16px;
      }
      .l-flow__card-description {
        text-align: justify;
        line-height: 170%;

        &.--link {
          text-decoration: underline;
        }
      }
    }
  }

  .l-faq {
    .l-faq__list {
      padding-bottom: 64px;

      .l-faq__item {
        position: relative;
        margin: 40px 0 0;
        cursor: pointer;
        @include mq(sp-ls) {
          margin: 10px 0 0;
        }
        &:first-child {
          margin-top: 0;
        }
        &::after {
          position: absolute;
          top: 34px;
          right: 26px;
          display: block;
          width: 10px;
          height: 10px;
          margin: auto;
          content: "";
          transform: rotate(135deg);
          border-top: 2px solid $black;
          border-right: 2px solid $black;
          transition: all 0.3s;
          @include mq(sp-ls) {
            top: 20px;
            right: 20px;
            width: 7px;
            height: 7px;
          }
        }

        &.--arrow::after {
          transform: rotate(-45deg);
        }

        .l-faq__question {
          position: relative;
          margin: 0;
          padding: 24px 20px 24px 80px;
          background: $bg-color;
          border-radius: 16px;
          font-weight: bold;
          font-family: "Roboto", sans-serif;
          @include mq(sp-ls) {
            padding: 16px 38px 16px 50px;
            font-size: 14px;
          }
          &::before {
            font-size: 20px;
            line-height: 1;
            position: absolute;
            top: 16px;
            left: 16px;
            display: block;
            content: "Q";
            color: #3285bf;
            background-color: #00833e;
            color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 39px;
            @include mq(sp-ls) {
              top: 11px;
              left: 15px;
              width: 28px;
              height: 28px;
              line-height: 30px;
              font-size: 14px;
            }
          }
        }

        .l-faq__answer {
          position: relative;
          margin: 0;
          padding: 20px 20px 20px 80px;
          line-height: 170%;
          @include mq(sp-ls) {
            margin: 0;
            padding: 16px 16px 16px 50px;
            font-size: 14px;
          }
          &::before {
            font-size: 22px;
            line-height: 1;
            position: absolute;
            left: 16px;
            top: 14px;
            display: block;
            content: "A";
            font-weight: bold;
            color: #3285bf;
            border: 1px solid $main-color;
            color: $main-color;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 33px;
            @include mq(sp-ls) {
              font-size: 14px;
              left: 15px;
              margin-top: 0;
              width: 28px;
              height: 28px;
              line-height: 25px;
            }
          }

          .l-faq__text {
            margin: 30px 0 0;
            text-align: justify;
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    .l-faq__ctabtn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 64px;
    }
  }

  .l-access {
    background-color: $bg-color;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    padding: 64px 0;
    @include mq(sp-ls) {
      padding-top: 64px;
    }
    @include mq(sp) {
      padding-top: 16px;
    }

    .l-access__pointarea {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;

      .l-access_point-card {
        max-width: 400px;
        @include mq(sp-ls) {
          max-width: 300;
        }
        .l-access__point1 {
          white-space: nowrap;
          font-size: 20px;
          font-weight: bold;
          color: $main-color;
          background-color: $white;
          padding: 8px 80px;
          border: 1px solid $main-color;
          border-radius: 14px;
          text-align: center;
          position: relative;
          display: block;
          @include mq(sp-ls) {
            padding: 8px 40px;
            font-size: 16px;
            white-space: normal;
          }
          &::before {
            content: "";
            width: 30px;
            height: 30px;
            line-height: 30;
            position: absolute;
            left: 52px;
            top: 17px;
            background-image: url(../assets/images/access-checkicon.svg);
            background-repeat: no-repeat;
            @include mq(sp-ls) {
              content: "";
              width: 15px;
              height: 16px;
              left: 18px;
              top: 15px;
              background-size: contain;
            }
          }
        }
        .l-access__point2 {
          white-space: nowrap;
          font-size: 20px;
          font-weight: bold;
          color: $main-color;
          background-color: $white;
          padding: 8px 80px;
          border: 1px solid $main-color;
          border-radius: 14px;
          text-align: center;
          position: relative;
          display: block;
          @include mq(sp-ls) {
            padding: 8px 40px;
            font-size: 16px;
            white-space: normal;
          }
          &::before {
            content: "";
            width: 30px;
            height: 30px;
            line-height: 30;
            position: absolute;
            left: 52px;
            top: 17px;
            background-image: url(../assets/images/access-checkicon.svg);
            background-repeat: no-repeat;
            @include mq(sp-ls) {
              content: "";
              width: 15px;
              height: 16px;
              left: 18px;
              top: 15px;
              background-size: contain;
            }
          }
        }
      }
    }

    .l-access__textarea {
      text-align: center;

      .l-acces__text {
        line-height: 200%;
        padding-bottom: 40px;
      }
    }

    .l-access__addressarea {
      background-color: $white;
      display: flex;
      justify-content: center;
      margin: 0 calc(50% - 50vw);
      padding: 0 calc(50vw - 50%);
      @include mq(sp-ls) {
        flex-direction: column;
        justify-content: center;
      }

      .l-access__address-map {
        width: 100%;
        max-width: 686px;

        iframe {
          max-width: 686px;
          width: 100%;
          min-height: 300px;
        }
      }
      .l-access__address-info {
        flex: auto;
        max-width: 524px;
        background-color: #fff;
        padding: 24px 32px;

        .l-access__namearea {
          padding-bottom: 24px;
          @include mq(sp-ls) {
            padding-bottom: 16px;
          }

          .l-access__name {
            font-weight: bold;
            font-size: 20px;
          }
        }
        .l-access__adressarea {
          padding-bottom: 24px;
          @include mq(sp-ls) {
            padding-bottom: 16px;
          }

          .l-access__adress {
            font-size: 16px;
          }
        }
        .l-access__telarea {
          padding-bottom: 48px;
          @include mq(sp-ls) {
            padding-bottom: 24px;
          }

          .l-access__tel {
            font-weight: bold;

            &.--link {
              &:hover {
                @include hover-effect;
              }
            }
          }
        }
        .l-access__ctabtn {
          display: flex;
          justify-content: start;
        }
      }
    }
  }

  .l-contact {
    background-color: $bg-color;
    margin: 0 calc(50% - 50vw);
    padding: 0 calc(50vw - 50%);
    padding: 64px 0;
    position: relative;

    .l-contact-ttl {
      text-align: center;
      padding: 32px 0;

      .l-contact-text {
        color: $main-color;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .l-contact__infoarea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      @include mq(sp-ls) {
        flex-direction: column;
        justify-content: center;
      }

      .l-contact__telarea {
        text-align: center;
        padding-bottom: 8px;

        .l-contact__tel {
          font-size: 32px;
          font-family: "Roboto", sans-serif;
          font-weight: bold;
          color: $main-color;

          &.--link {
            &:hover {
              @include hover-effect;
            }
          }
        }
        .l-contact__time {
          color: $main-color;
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    .l-contact__btnarea {
      text-align: center;
      display: flex;
      justify-content: start;

      .l-contact__btn {
        font-size: 14px;
      }
    }
  }
}
