.main {
  .l-sub-mv {
    .l-sub-mv__area {
      .l-sub-mv__hero {
        @include mq(sp-ls) {
          width: 90%;
          text-align: center;
        }
        @include mq(sp) {
          width: 90%;
          text-align: center;
        }
        &.--privacy {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .l-privacy {
    text-align: left;
    margin: 120px auto;
    @include mq(sp-ls) {
      margin: 60px auto;
    }

    .l-privacy__text-area {
      line-height: 200%;

      .l-privacy__text {
        line-height: 200%;
        padding-bottom: 60px;
        @include mq(sp) {
          padding-bottom: 30px;
        }
      }
    }

    .l-privacy-content {
      text-align: left;
      padding-bottom: 44px;
      @include mq(sp) {
        padding-bottom: 32px;
      }

      .l-privacy__ttl {
        font-weight: bold;
        font-size: 24px;
        border-left: 4px solid $main-color;
        margin-bottom: 24px;
        padding-left: 20px;

        @include mq(sp) {
          font-size: 18px;
          padding: 6px 12px;
          margin-bottom: 24px;
        }
      }
      .l-privacy__text {
        line-height: 200%;

        .l-privacy__list {
          .l-privacy__item {
            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #262626;
              display: inline-block;
              line-height: 5;
              position: relative;
              top: -12px;
              margin-right: 8px;
            }
          }
        }
      }
    }

    .l-privacy__date {
      margin-top: 32px;
      text-align: right;
    }
  }
}
