.main {
  .l-sub-mv {
    .l-sub-mv__area {
      .l-sub-mv__hero {
        @include mq(sp-ls) {
          width: 90%;
          text-align: center;
        }
        @include mq(sp) {
          width: 90%;
          text-align: center;
        }
        &.--sctl {
          &::after {
            display: none;
          }
        }
      }
    }
  }

  .l-sctl {
    margin: 120px auto;
    @include mq(sp) {
      margin: 64px auto;
    }

    .l-sctl-area {
      padding-bottom: 64px;
      @include mq(sp) {
        padding-bottom: 32px;
      }

      .l-sctl__ttl {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px 32px;
        @include mq(sp) {
          font-size: 20px;
          padding: 0 8px 24px;
        }
      }
      .l-sctl__description {
        line-height: 200%;
        @include mq(sp) {
          line-height: 170%;
        }
        &.--link {
          text-decoration: underline;
          &:hover {
            @include hover-effect;
          }
        }
      }
    }
    .l-table-area {
      max-width: 960px;
      margin: 0 auto;
      .l-table {
        display: flex;
        border-top: 1px solid #c2cfc9;
        &:last-child {
          border-bottom: 1px solid #c2cfc9;
        }

        .l-table-ttl__box {
          width: 260px;
          background-color: #f4f7f7;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mq(sp-ls) {
            width: 200px;
          }
          @include mq(sp) {
            width: 100px;
          }
          .l-table-ttl {
            padding: 24px 0;
            font-weight: bold;
            text-align: center;
            width: 260px;
            @include mq(sp-ls) {
              width: 200px;
              padding: 16px 0;
              font-size: 14px;
            }
            @include mq(sp) {
              font-size: 12px;
              padding: 16px 0;
            }
          }
        }

        .l-table-data__box {
          width: 100%;

          .l-table-data {
            padding: 24px 24px 24px 40px;
            @include mq(sp-ls) {
              padding: 16px 16px 16px 16px;
              font-size: 14px;
              @include mq(sp) {
                padding: 16px 16px 16px 16px;
                font-size: 12px;
              }
            }
          }
          .l-table-data--list {
            padding: 0;
            .l-table-data--item {
              &::before {
                content: "";
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #262626;
                display: inline-block;
                line-height: 5;
                position: relative;
                top: -9px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}
