.p-headline {
  max-width: 300px;
  text-align: center;
  margin: 80px auto;
  @include mq(sp-ls) {
    margin: 40px auto;
  }

  .p-headline__prefix {
    color: $main-color;
    padding-bottom: 16px;
    font-weight: bold;
    @include mq(sp-ls) {
      font-size: 12px;
      padding-bottom: 4px;
    }
  }
  .p-headline-ttl {
    font-size: 40px;
    @include mq(sp-ls) {
      font-size: 20px;
    }
  }
}
