.u-header__nav--fontsize {
  font-weight: bold;
  font-size: 16px;
  color: $white;
  line-height: 1.2;
}

.u-header__logo {
  font-size: 32px;
  color: $main-color;
  display: block;
  @include mq(sp) {
    font-size: 23px;
    color: $main-color;
  }
}

.c-font-bold {
  font-weight: bold;
}

.c-font-color__feature-card {
  color: $accent-color;
}
.c-font-color__feature-card--secondary {
  color: $black;
  font-size: 26px;
  @include mq(sp) {
    font-size: 18px;
  }
}

.c-font__value {
  font-size: 36px;
  @include mq(sp) {
    font-size: 28px;
  }
}
.c-font__value--secondary {
  font-size: 46px;
  line-height: 1.2;
  @include mq(sp-ls) {
    font-size: 37px;
  }
  @include mq(sp) {
    font-size: 28px;
  }
}

.c-font-tax {
  font-size: 18px;
  @include mq(sp) {
    font-size: 12px;
  }
}

.c-font-size__feature-card {
  font-size: 46px;
  line-height: 127%;
  @include mq(sp-ls) {
    font-size: 30px;
  }
}

.u--fontlg {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
  @include mq(sp) {
    font-size: 18px !important;
    margin-bottom: 10px;
  }
}

.u--font-hightlight {
  background: linear-gradient(transparent 60%, $sub-color 60% 90%, transparent 90%);
  margin-bottom: 32px;
  font-weight: bold;
}

.u--link {
  text-decoration: underline;
  color: $black;
  &:hover {
    @include hover-effect;
  }
}

.c-fontc--main {
  color: $main-color;
}

.c-font--sm {
  font-size: 14px;
}
